<script src="~/Content/Client/js/product_detail.js"></script>

<div class="main-menu" style="position: relative;">
    <div class="container">
        <i class="glyphicon glyphicon-th-list icon-active"></i>
        <span>
            <b>DANH MỤC SẢN PHẨM</b>
        </span>

        <script type="text/javascript">
            $('.icon-active').hover(function () {
                $('.list-item-category').show();
            }, function () {
                $('.list-item-category').hide();
            });
        </script>
    </div>
    <div class="list-item-category" style="position: absolute; top: 40px; left: 102px; z-index: 1;">
        <ul class="list-group" style="width: 230px; color: black; border-radius: none">
        </ul>
    </div>
</div>

<div class="link-page-area">
    <div class="container">
        Trang chủ / Laptop & Linh phụ kiện
    </div>
</div>

<div class="main-info">
    <div class="container">
        <div class="row">
            <div class="col-md-4 product-image-area">
                <img src="" alt="">
                <div class="group-images">
                    <img src="~/Content/Images/LaptopProduct/250_34825_laptop_hp_14_ck0135tu_6kd74pa__silver__3.jpg" alt="">
                    <img src="~/Content/Images/LaptopProduct/250_32848-dell-inspiron-3567s.jpg" alt="">
                    <img src="~/Content/Images/LaptopProduct/250_34889_laptop_dell_vostro_3578b_p63f002__black__1_1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5 product-info-area">
                <h4 class="product-name"></h4>
                <h4 class="product-rating">
                    <span>
                        Đánh giá:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        | Kho hàng: <span class="stock-status">Có hàng</span>
                    </span>
                </h4>
                <div class="line"></div>

                <ul class="list-info" style="margin-top: 10px;">
                    <li>
                        <i class="glyphicon glyphicon-stop"></i>
                        <span class="product-microprocessor"></span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-stop"></i>
                        <span class="product-graphics"></span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-stop "></i>
                        <span class="product-memory"></span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-stop"></i>
                        <span class="product-disk-type"></span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-stop"></i>
                        <span class="product-monitor"></span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-stop"></i>
                        <span class="product-operation"></span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-stop"></i>
                        <span class="product-color-material"></span>
                    </li>
                </ul>
                <p style="font-size: 13px;">
                    Bảo hành: Chính hãng 12 tháng, giao nhận tại nơi sử dụng. Đổi mới 30
                    ngày.
                </p>
                <div class="price-area">
                    <div>
                        <div>
                            <span>Giá bán: </span>
                            <span class="price-item-origin">7.390.000 ₫</span>
                        </div>
                        <div>
                            <span>Giá cuối: </span>
                            <span class="price-item-final">7.090.000 ₫</span>
                        </div>
                    </div>
                </div>
                <div class="buyout-type-area">
                    <button class="purchase-btn">MUA NGAY</button>
                    <button class="hire-purchase-btn">MUA TRẢ GÓP</button>
                </div>
                <div class="line" style="margin-top: 10px;"></div>
                <div class="bargain-info-area">
                    <p style="color: red; font-weight: bold; font-size: 17px">Ưu đãi và quà tặng khuyến mại</p>
                    Từ ngày 1/7 đến 31/07/2019, Tặng:
                    <ul>
                        <li>- Chuột không dây </li>
                        <li>- Balo Phúc Anh </li>
                        <li>- Giảm ngay I3: 200K, I5: 300K, I7: 400K. (Áp dụng: Học sinh, sinh viên). </li>
                        <li>
                            - Giảm 20% khi mua phụ kiện laptop chuột HP, Newmen, Microsoft 1850, đế tản nhiệt, cặp
                            or balo thời trang Coolbel, DTBG, Tucano…
                        </li>
                        <li>- Giảm 10% khi mua ram, chuột Logitech kèm laptop. </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 product-ads-area">
                <div class="head-ads-area">
                    <h6 style="text-align: center; color: red; font-weight: bolder">
                        YÊN TÂM MUA SẮM TẠI PHÚC ANH
                    </h6>
                    <ul>
                        <li>
                            <i class="glyphicon glyphicon-ok-circle text-success"></i>
                            <span>Giao hàng miễn phí lên tới 150km</span>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-ok-circle text-success"></i>
                            <span>Thanh toán thuận tiện</span>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-ok-circle text-success"></i>
                            <span>Sản phẩm 100% chính hãng</span>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-ok-circle text-success"></i>
                            <span>Giá cạnh tranh nhất thị trường</span>
                        </li>
                    </ul>
                </div>
                <div class="shop-list-area">
                    <div class="text-head-shoplists-area">LIÊN HỆ CỬA HÀNG</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tag">
            <b>Từ khóa: </b>
            <a href="">Laptop 14.0Inch</a>
            <a href="">Laptop 14.0Inch</a>
            <a href="">Laptop 14.0Inch</a>
            <a href="">Laptop 14.0Inch</a>
            <a href="">Laptop 14.0Inch</a>
            <a href="">Laptop 14.0Inch</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h4 style="font-weight: bold">THÔNG SỐ KỸ THUẬT</h4>
                <table class="table table-bordered table-hover table-info"></table>
            </div>
        </div>

    </div>
    <div class="container">
        <h4 style="font-weight: bold">ĐẶC ĐIỂM NỔI BẬT</h4>
        <h3 style="font-weight: bold">Laptop Dell Vostro 3578B P63F002 (Black)</h3>
        <div class="col-md-9 product-info-detail">
            @*<b>Thiết kế mạnh mẽ và thanh lịch</b>
                <br />
                Laptop Dell Vostro 3578B P63F002 được thiết kế nguyên khối cứng cáp, thân máy được bảo vệ tối ưu cho bạn
                trải nghiệm sản phẩm tiện lợi trong mọi không gian. Sản phẩm có gam màu đen sang trọng thể hiện sự thanh
                lịch và đẳng cấp. Ngoài ra, máy có bản lề chắc chắn với trọng lượng chỉ 2.1kg giúp bạn dễ dàng mang sản
                phẩm đến mọi nơi như trường học, văn phòng làm việc…

                Các đường viền cạnh kết nối liền mạch và góc máy cũng được bo cong mềm mại tạo cảm giác dễ chịu cho
                người sử dụng.

                <br />
                <b>Màn hình lớn tăng cường không gian hiển thị</b>
                <br />
                Dell Vostro 3578B P63F002 được trang bị màn hình có kích thước rộng 15.6 inches với độ phân giải full HD
                1920 x 1080 pixels cho không gian hiển thị to lớn và màu sắc được tối ưu hóa hơn. Nhờ sử dụng công nghệ
                Anti-Glare LED Backlit nên thiết bị đem lại hình ảnh rõ nét, với sắc màu sống động. Khả năng chống chói
                của màn hình còn giúp bạn trải nghiệm máy suốt cả ngày mà không bị mỏi mắt. Bạn không phải lo ngại về
                vấn đề chất lượng hình ảnh, thoải mái tận hưởng những thước phim hay và chiến game tốc độ cao.

                <br />
                <b>Cấu hình ổn định với chip Intel Core thế hệ mới</b>
                <br />
                Dell Vostro 3578B P63F002 sử dụng chip Intel Core i5-8250U 1.6GHz – 6M Cache mang đến hiệu năng vượt
                trội, xử lý và chạy nhiều chương trình tốc độ cao. Đồng thời, máy trang bị dung lượng RAM 4GB DDR4 và ổ
                cứng 1TB 5400rpm cho bạn có thêm không gian lưu trữ tài liệu và hình ảnh.

                <br />
                <b>Hệ thống bàn phím bấm êm ái, pin 4 cell</b>
                <br />
                Ưu điểm của laptop Dell còn ở việc trang bị viên pin 4 Cell, cho thời lượng sử dụng pin ổn định và lâu
                hơn so với pin ở các dòng sản phẩm khác. Đặc biệt, với hệ thống bàn phím bấm được thiết kế êm ái, độ nảy
                tốt sẽ giúp bạn soạn thảo nội dung văn bản một cách chính xác và nhanh nhất.*@
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9 comment-area">
                <h4>BÌNH LUẬN VỀ SẢN PHẨM</h4>
                <div class="line"></div>
                <div class="comment-action-list">
                    Sắp xếp bình luận:
                    <span><a href=""> Mới nhất</a></span> | <span><a href=""> Thích nhất</a></span>
                    <select>
                        <option value="">Tất cả</option>
                        <option value="content">Theo nội dung</option>
                        <option value="user">Theo người gửi</option>
                    </select>
                    <input type="text" placeholder="Tìm kiếm bình luận" />
                </div>

                <div class="row comment-form">
                    <div class="col-md-1">
                        <img src="~/Content/Images/iconnoavatar.png" alt="" height="50px" width="50px">
                    </div>
                    <textarea class="comment-area" placeholder="Mời bạn thảo luận, vui lòng nhập chữ có dấu"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>



