.title{
   font-size: 18px;
   margin-left: 5px;
}

.heading .row {
    font-size: 15px;
    line-height: 39px;
}

.heading .page-name {
    font-weight: bold;
    font-size: 16px;
    color: red;
}

.add-product-area {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.product-info {
    background-color: white;
    margin-top: 2px;
    border: 1px #ddd solid;
}

.head-title {
    height: 37px;
    font-size: 16px;
}

.icon-container {
    padding: 8px 0 0 24px;
}

.toggle-icon {
    padding: 8px 24px 0 0;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #ddd;
}

.label-wrapper {
    display: table;
}

    .label-wrapper label {
        display: table-cell;
    }

    .label-wrapper .ico-help {
        width: 16px;
        display: table-cell;
        color: #3c8dbc;
        padding-left: 6px;
    }

.stock-status {
    width: 20px;
    height: 20px;
}

.add-image-area {
    margin-top: 10px;
    border: 1px #ddd solid;
    background-color: white;
}

.text-area {
    border: 1px solid #ddd;
    margin: 0 10px 10px 10px;
    padding: 10px;
}

.info-advanced-area {
    margin-top: 10px;
    border: 1px #ddd solid;
    background-color: white;
}

    .info-advanced-area input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }
