@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-menu">
    <div class="container">
        <i class="glyphicon glyphicon-th-list icon-active"></i>
        <span>
            <b>DANH MỤC SẢN PHẨM</b>
        </span>

        <script type="text/javascript">
            $('.icon-active').hover(function () {
                $('.list-item-category').show();
            }, function () {
                $('.list-item-category').hide();
            });
        </script>
    </div>
    <div class="list-item-category" style="position: absolute; top: 40px; left: 102px; z-index: 1;">
        <ul class="list-group" style="width: 230px; color: black; border-radius: none">
            <li class="list-group-item" id="link-category">Dapibus ac facilisis in</li>
            <li class="list-group-item" id="link-category">Morbi leo risus</li>
            <li class="list-group-item" id="link-category">Porta ac consectetur ac</li>
            <li class="list-group-item" id="link-category">Vestibulum at eros</li>
            <li class="list-group-item" id="link-category">Dapibus ac facilisis in</li>
            <li class="list-group-item" id="link-category">Morbi leo risus</li>
            <li class="list-group-item" id="link-category">Porta ac consectetur ac</li>
            <li class="list-group-item" id="link-category">Vestibulum at eros</li>
            <li class="list-group-item" id="link-category">Dapibus ac facilisis in</li>
            <li class="list-group-item" id="link-category">Morbi leo risus</li>
            <li class="list-group-item" id="link-category">Porta ac consectetur ac</li>
        </ul>
    </div>
</div>

<div class="link-page-area">
    <div class="container">
        Trang chủ / Laptop & Linh phụ kiện
    </div>
</div>


<div class="main-info">
    <div class="container">

        <div class="main-above">
            <div class="row">
            </div>
        </div>

        <div class="pagination-area">
            <ul class="pagination">
                <li><a href="#">Previous</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Instagram</h4>
                    </div>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Twitter</h4>
                    </div>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Facebook</h4>
                    </div>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Google</h4>
                    </div>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>





